@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>O ambiente de desenvolvimento não deve ser habilitado para aplicativos implantados.</strong>
    Pode resultar na exibição de informações confidenciais de exceções para usuários finais.
    Para depuração local, ative o <strong> Desenvolvimento </strong> ambiente, definindo oe <strong>ASPNETCORE_ENVIRONMENT</strong> variável de ambiente para <strong>Desenvolvimento</strong>
    e reiniciando o aplicativo.
</p>
