@{
    ViewData["Title"] = "Inicio";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Informações</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">

                        <li class="breadcrumb-item"><a target="_blank" href="./Home/Inicio">Início</a></li>
                        <li class="breadcrumb-item active"><a href="/Home/Index"/>Página Inicial</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Título do Cartão</h5>

                            <p class="card-text">
                                Algum texto de exemplo rápido para construir no título do cartão e compor a maior parte do conteúdo do cartão.
                            </p>

                            <a href="#" class="card-link">Link do Cartão</a>
                            <a href="#" class="card-link">Outro link</a>
                        </div>
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-body">
                            <h5 class="card-title">Título do Cartão</h5>

                            <p class="card-text">
                                Algum texto de exemplo rápido para construir no título do cartão e compor a maior parte do conteúdo do cartão.
                            </p>
                            <a href="#" class="card-link">Link do Cartão</a>
                            <a href="#" class="card-link">Outro link</a>
                        </div>
                    </div><!-- /.card -->
                </div>
                <!-- /.col-md-6 -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">Destaque</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Tratamento de título especial</h6>

                            <p class="card-text">Com o texto de apoio abaixo como uma introdução natural ao conteúdo adicional.</p>
                            <a href="#" class="btn btn-primary">Ir a algum lugar</a>
                        </div>
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">Destaque</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Tratamento de título especial</h6>

                            <p class="card-text">Com o texto de apoio abaixo como uma introdução natural ao conteúdo adicional.</p>
                            <a href="#" class="btn btn-primary">Ir a algum lugar</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
